<div class="list-posts-share">
	<div>
		<a target="_blank" href="http://www.facebook.com/sharer.php?u={{.Permalink }}"><i class="fa fa-facebook"></i></a>
		<a target="_blank" href="https://twitter.com/share?url={{ .Permalink }}&text={{.Title}}"><i class="fa fa-twitter"></i></a>
		<a target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}"><i class="fa fa-google-plus"></i></a>
		<a target="_blank" href="https://pinterest.com/pin/create/bookmarklet/?media={{.Params.image}}&url={{.Permalink }}&description={{ .Title}}"><i class="fa fa-pinterest"></i></a>
	</div>
</div>