{{ partial "header.html" . }}
<div class="article container">
                  <div class="title">
                    <h2>{{ .Title }}</h2>
                    <div class="subtitle">
                      <span>
                        <span>{{ .Date.Format "January, 2006" }}</span>
                      </span>
                    </div>
                 </div>

                <div id="content">
                    {{ .Description }}

                    {{ .Content }}
                </div>
            </div>


      <div class="container">
        <div class="row more">

    {{$group := .Params.group}}
    {{ range where .Site.Pages.ByDate "Params.group" $group }}
    {{ if not (eq .Type "destination")}}

          <div class="moreArticle col-sm-4 col-xs-12">
            <div class="image">
                <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}"/></a>
              </div>
              <div class="title">
                <a href="{{ .Permalink }}"><span>{{ .Title}}</span></a>
                <div class="postDate">
                  <span>
                    <span>{{ .Date.Format "January, 2006" }}</span>
                  </span>
                </div>
             </div>
          </div>
          {{end}}
          {{end}}

        </div>
      </div>

        <div class="moreTitle">
          <span>Commentaires</span>
         </div>

      <div class="container">
      {{ template "_internal/disqus.html" . }}
      </div>

{{ partial "footer.html" . }}
