{{ partial "header.html" . }}
<div class="container article">
                  <div class="title">
                    <h2>{{ .Title }}</h2>
                    <div class="subtitle">
                      <span>
                        <span>{{ .Date.Format "January, 2006" }}</span>
                      </span>
                    </div>
                 </div>
                    
                <div id="content">
                    {{ .Content }}
                </div>
    
</div>

      {{$group := .Params.group}}
      {{$title := .Title}}

      {{ range where .Site.Pages "Params.group" $group }}
      {{ if eq .Type "destination"}}

        <div class="moreTitle">
          <span>Cet article fait parti de la section</span>
         </div>

        <div class="container section">

          <div class="caption row">
          <div class="col-xs-12 col-sm-3">
          <img alt='' src='{{ .Params.image | absURL }}'class='img-responsive img-rounded' height='200' />
          </div>
           <div class="col-xs-12 col-sm-9">
                     <div class="title">
            <a href="{{ .Permalink }}"><span>{{ .Title}}</span></a>
            <div class="date">
                <span>{{ .Date.Format "January, 2006" }}</span>
            </div>
          </div>
          <p>{{ .Summary }}</p>
          </div>
        </div>

        </div>

        {{end}}
        {{end}}


        <div class="moreTitle">
          <span>Articles liés</span>
         </div>
             
      <div class="container">        
        <div class="row more">


    {{ range where .Site.Pages "Params.group" $group }}
      {{ if and (not (eq .Type "destination")) (not (eq .Title $title))}}

          <div class="moreArticle col-sm-4 col-xs-12">
            <div class="image">
                <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}"/></a>
              </div>
              <div class="title">
                <a href="{{ .Permalink }}"><span>{{ .Title}}</span></a>
                <div class="postDate">
                  <span>
                    <span>{{ .Date.Format "January, 2006" }}</span>
                  </span>
                </div>
             </div>
          </div>
          {{end}}
          {{end}}

          
        </div>
      </div>

        <div class="moreTitle">
          <span>Commentaires</span>
         </div>

      <div class="container"> 
      {{ template "_internal/disqus.html" . }}
      </div>

{{ partial "footer.html" . }}